<tbody>
	<tr>
		<td><%= washer.channel %></td>
		<td><%= washer.start_at %></td>
		<td><%= washer.intervel %></td>
		<td><%= washer.start_stop %></td>
		<td><%= link_to "Edit", edit_washer_path(washer) %></td>
		<td><%= link_to "Delete", washer, method: :delete, data: { confirm: "Are you sure?" } %></td>
	</tr>
</tbody>