<% provide(:title, "SmartWash") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@washer) do |f| %>
      <%= render 'shared/error_msg_washer' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :channel %>
      <%= f.text_field :channel, class: 'form-control' %>

      <%= f.label :start_at %>
      <%= f.text_field :start_at, class: 'form-control' %>

      <%= f.label :interval %>
      <%= f.text_field :intervel, class: 'form-control' %>

      <%= f.submit "Create Schedule", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>