<li>
	<div class="row">
		<div class="col-md-4"><%= @washer.name %>, <%= @washer.channel %></div>
	</div>
	<div class="row">
		<div class="col-md-4">PERIOD</div>
	</div>
	<div class="row">
		<div class="col-md-2">Start: <%= @washer.start_at %></div>
		<div class="col-md-2">11/March</div>
		<div class="col-md-8">11:00sdfsdf</div>
	</div>
	<div class="row">
		<div class="col-md-2">Intervel: <%= @washer.intervel %></div>
		<div class="col-md-2">00:30</div>
	</div>
	<div class="row">
		<div class="col-md-2">Current Time:</div>
		<div class="col-md-8"><%= Time.now %></div>
	</div>
</li>